<div class="content-main">
    <div id="navi" class="container">
        <div class="logo-nav">
            <a href="index" class="logo"><img src="images/logo.png" alt="logo" /></a>
        </div>

        <div id="horizontal" class="">

            <a class="navhome {{#if isActive}}{{index}}{{/if}}" href="index">Home</a></li>
            <a class="navabout {{#if isActive}}{{about}}{{/if}}" href="about">About Us</a> </li>
            <a class="navcampus {{#if isActive}}{{campus}}{{/if}}" href="campus">Our Campus</a> </li>
            <a class="navprograms {{#if isActive}}{{programs}}{{/if}}" href="programs">Programs</a> </li>
            <a class="navenrich {{#if isActive}}{{enrichment}}{{/if}}" href="enrichment">Enrichment Programs</a> </li>
            <a class="navparent {{#if isActive}}{{parent}}{{/if}}" href="parent">Parent Involvement</a> </li>
            <a class="navcontact {{#if isActive}}{{contatct}}{{/if}}" href="index#home-contact">Contact</a></li>

        </div>

        {{!-- <nav class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger">
                <div></div>
            </div>
            <div class="menu">
                <ul class="ham">
                    <li class="ham1"><a href="index">Home</a></li>
                    <li class="ham2"><a href="about">About Us</a></li>
                    <li class="ham3"><a href="campus">Our Campus</a></li>
                    <li class="ham4"><a href="programs">Programs</a></li>
                    <li class="ham5"><a href="enrichment">Enrichment Programs</a></li>
                    <li class="ham6"><a href="parent">Parent Involvement</a></li>
                    <li class="ham7"><a href="index#home-contact">Contact</a></li>
                </ul>
            </div>
        </nav> --}}
        {{!-- </div> --}}



        <nav class="hamburger">
            <div class="nav-mobile">
                <a id="nav-toggle" class="btn-open">
                    <span class=""></span>
                </a>
            </div>
            <div class="overlay">
                <ul id="nav-overlay" class="overlay-list">
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About Us</a></li>
                    <li><a href="campus">Our Campus</a></li>
                    <li><a href="programs">Programs</a></li>
                    <li><a href="enrichment">Enrichment Programs</a></li>
                    <li><a href="parent">Parent Involvement</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>

    </div>