<section id="{{landing.name}}">
    <div class="section-content">
        <header class="section-header {{landing.headercls}}">
            <h1>{{landing.title}}</h1>
        </header>
        <h2 class="{{landing.subtitlecls}}">{{landing.subtitle}}</h2>
        <p>{{landing.intro}}</p>
        <a class="learn-more {{landing.linkcls}}" href="{{landing.linkpage}}">learn more</a>
    </div>
    <a class="{{landing.imgcls}}">
        <img src="{{landing.imgsrc}}">
    </a>
</section>