{{>header}}
<div id="home_home" class="content_main">
  <div class="col-md-10 col-sm-10 col-xs-12">
    {{#each data}}
    <section id="{{this.name}}">
      <div class="section-content">
        <header class="section-header {{this.titlecls}}">
          <h1>{{this.title}}</h1>
        </header>
        <h2 class="{{this.subtitlecls}}">{{this.subtitle}}</h2>
        <p>{{this.intro}}</p>
        <a class="learn-more {{this.linkcls}}" href="{{this.linkpage}}">learn more</a>
      </div>
      <img src="{{this.imgsrc}}">
      <div class="{{this.bordercls}}">
      </div>
    </section>
    {{/each}}
  </div>
</div>
<footer class="footer-index">
  {{>footer}}
</footer>