{{>header}}
<div id="home_home" class="content_main">
  <div class="col-md-9 col-sm-10">
    {{#each data}}
    <section id="{{this.name}}">
      <div class="section-content">
        <header class="section-header {{this.headercls}}">
          <h1>{{this.title}}</h1>
        </header>
        <h2 class="{{this.subtitlecls}}">{{this.subtitle}}</h2>
        <p>{{this.intro}}</p>
        <a class="learn-more {{this.linkcls}}" href="{{this.linkpage}}">learn more</a>
      </div>
      <img src="{{this.imgsrc}}">
      <div class="{{this.imgcls}}">

      </div>
    </section>
    {{/each}}
  </div>
</div>
{{>footer}}