{{>header}}
<div id="programs" class="content_page ">
    <div class="col-md-10 col-sm-10 col-xs-12">

        <section>
            <div class="subpage_title">
                <header class="section-header title-programs">
                    <h1 class="">Programs</h1>
                </header>
            </div>
        </section>
        {{#each data}}
        <section>
            <div class="sect-content">
                <h2 class="">{{this.title}}</h2>
                <p>{{this.intro}}</p>
                <h3 class="{{this.subtitlecls}}">{{this.subtitle}}</h3>
                <p>{{this.infop1}}</p>
                <p>{{this.infop2}}</p>
                <p>{{this.infop3}}</p>
                <p>{{this.infop4}}</p>
            </div>
            <img src="{{this.imgsrc}}" alt="">
            <div class=" {{this.bordercls}}">
            </div>
        </section>
        {{/each}}
    </div>
</div>
{{>footer}}